<div class='lh-creator'>
  <section class='lh-creator-panel'>
    <header class='lh-creator-panel-head'>
      <h2 class='lh-creator-title'>
        <i class='fa-solid fa-chart-simple'></i>
        {{{localize 'LH.investigatorCreator.attributesHeader'}}}
      </h2>
      <p class='lh-creator-note'>{{{localize 'LH.investigatorCreator.attributesRollHint'}}}</p>
    </header>

    <div class='lh-creator-stat-grid'>
      <label class='lh-creator-stat'>
        <span class='lh-creator-stat-label'>
          <i class='fa-solid fa-dumbbell'></i>
          {{{localize 'LH.attr.short.str'}}}
        </span>
        <input class='lh-creator-stat-input' type='number' name='str' value='{{str}}' placeholder='-' readonly />
      </label>

      <label class='lh-creator-stat'>
        <span class='lh-creator-stat-label'>
          <i class='fa-solid fa-bullseye'></i>
          {{{localize 'LH.attr.short.dex'}}}
        </span>
        <input class='lh-creator-stat-input' type='number' name='dex' value='{{dex}}' placeholder='-' readonly />
      </label>

      <label class='lh-creator-stat'>
        <span class='lh-creator-stat-label'>
          <i class='fa-solid fa-brain'></i>
          {{{localize 'LH.attr.short.ctrl'}}}
        </span>
        <input class='lh-creator-stat-input' type='number' name='ctrl' value='{{ctrl}}' placeholder='-' readonly />
      </label>

      {{#if showLuck}}
        <label class='lh-creator-stat'>
          <span class='lh-creator-stat-label'>
            <i class='fa-solid fa-clover'></i>
            {{{localize 'LH.attr.short.luck'}}}
          </span>
          <input class='lh-creator-stat-input' type='number' name='luck' value='{{luck}}' placeholder='-' readonly />
        </label>
      {{/if}}

      <label class='lh-creator-stat'>
        <span class='lh-creator-stat-label'>{{{localize 'LH.ui.hp'}}}</span>
        <input class='lh-creator-stat-input' type='number' name='hp' value='{{hp}}' placeholder='-' readonly />
      </label>

      <label class='lh-creator-stat'>
        <span class='lh-creator-stat-label'>{{{localize 'LH.ui.cash'}}}</span>
        <input class='lh-creator-stat-input' type='number' name='cash' value='{{cash}}' placeholder='-' readonly />
      </label>
    </div>

    <div class='lh-creator-action-row'>
      <button
        type='button'
        class='lh-creator-button lh-creator-button-primary'
        data-action='roll'
        data-key='attributes'
        {{disabled lockAttributes}}
      >
        <i class='fa-solid fa-dice'></i>
        {{{localize 'LH.investigatorCreator.rollAttributes'}}}
      </button>

      <button
        type='button'
        class='lh-creator-button lh-creator-button-secondary'
        data-action='swapAttributes'
        {{disabled disableSwapAttributes}}
      >
        <i class='fa-solid fa-right-left'></i>
        {{{localize 'LH.investigatorCreator.swapAttributes'}}}
      </button>
    </div>
  </section>

  <section class='lh-creator-panel'>
    <header class='lh-creator-panel-head lh-creator-panel-head-inline'>
      <h2 class='lh-creator-title'>
        <i class='fa-solid fa-user-pen'></i>
        {{{localize 'LH.investigatorCreator.rollDetails'}}}
      </h2>

      <button
        type='button'
        class='lh-creator-button lh-creator-button-primary lh-creator-button-compact'
        data-action='roll'
        data-key='details'
      >
        <i class='fa-solid fa-dice'></i>
        {{{localize 'LH.investigatorCreator.rollAllDetails'}}}
      </button>
    </header>

    <div class='lh-creator-field-list lh-creator-field-list-details'>
      <label class='lh-creator-field lh-creator-field-wide'>
        <span class='lh-creator-field-label'>
          <i class='fa-solid fa-shirt'></i>
          {{{localize 'LH.char.labels.aesthetics'}}}
        </span>
        <span class='lh-creator-field-control'>
          <input class='lh-creator-input' type='text' name='aesthetics' value='{{aesthetics}}' readonly />
          <button
            type='button'
            class='lh-creator-icon-button'
            data-action='roll'
            data-key='aesthetics'
            title='{{localize "LH.core.roll"}}'
          >
            <i class='fa-solid fa-shuffle'></i>
          </button>
        </span>
      </label>

      <label class='lh-creator-field lh-creator-field-wide'>
        <span class='lh-creator-field-label'>
          <i class='fa-solid fa-lightbulb'></i>
          {{{localize 'LH.investigatorCreator.ideology'}}}
        </span>
        <span class='lh-creator-field-control'>
          <input class='lh-creator-input' type='text' name='ideology' value='{{ideology}}' readonly />
          <button
            type='button'
            class='lh-creator-icon-button'
            data-action='roll'
            data-key='ideology'
            title='{{localize "LH.core.roll"}}'
          >
            <i class='fa-solid fa-shuffle'></i>
          </button>
        </span>
      </label>

      <label class='lh-creator-field'>
        <span class='lh-creator-field-label'>
          <i class='fa-solid fa-person'></i>
          {{{localize 'LH.char.labels.physique'}}}
        </span>
        <span class='lh-creator-field-control'>
          <input class='lh-creator-input' type='text' name='physique' value='{{physique}}' readonly />
          <button
            type='button'
            class='lh-creator-icon-button'
            data-action='roll'
            data-key='physique'
            title='{{localize "LH.core.roll"}}'
          >
            <i class='fa-solid fa-shuffle'></i>
          </button>
        </span>
      </label>

      <label class='lh-creator-field'>
        <span class='lh-creator-field-label'>
          <i class='fa-solid fa-user'></i>
          {{{localize 'LH.char.labels.face'}}}
        </span>
        <span class='lh-creator-field-control'>
          <input class='lh-creator-input' type='text' name='face' value='{{face}}' readonly />
          <button
            type='button'
            class='lh-creator-icon-button'
            data-action='roll'
            data-key='face'
            title='{{localize "LH.core.roll"}}'
          >
            <i class='fa-solid fa-shuffle'></i>
          </button>
        </span>
      </label>

      <label class='lh-creator-field'>
        <span class='lh-creator-field-label'>
          <i class='fa-solid fa-ear-listen'></i>
          {{{localize 'LH.char.labels.speech'}}}
        </span>
        <span class='lh-creator-field-control'>
          <input class='lh-creator-input' type='text' name='speech' value='{{speech}}' readonly />
          <button
            type='button'
            class='lh-creator-icon-button'
            data-action='roll'
            data-key='speech'
            title='{{localize "LH.core.roll"}}'
          >
            <i class='fa-solid fa-shuffle'></i>
          </button>
        </span>
      </label>

      <label class='lh-creator-field'>
        <span class='lh-creator-field-label'>
          <i class='fa-solid fa-hands-praying'></i>
          {{{localize 'LH.char.labels.virtue'}}}
        </span>
        <span class='lh-creator-field-control'>
          <input class='lh-creator-input' type='text' name='virtue' value='{{virtue}}' readonly />
          <button
            type='button'
            class='lh-creator-icon-button'
            data-action='roll'
            data-key='virtue'
            title='{{localize "LH.core.roll"}}'
          >
            <i class='fa-solid fa-shuffle'></i>
          </button>
        </span>
      </label>

      <label class='lh-creator-field'>
        <span class='lh-creator-field-label'>
          <i class='fa-solid fa-face-frown'></i>
          {{{localize 'LH.char.labels.flaw'}}}
        </span>
        <span class='lh-creator-field-control'>
          <input class='lh-creator-input' type='text' name='flaw' value='{{flaw}}' readonly />
          <button
            type='button'
            class='lh-creator-icon-button'
            data-action='roll'
            data-key='flaw'
            title='{{localize "LH.core.roll"}}'
          >
            <i class='fa-solid fa-shuffle'></i>
          </button>
        </span>
      </label>

      <label class='lh-creator-field'>
        <span class='lh-creator-field-label'>
          <i class='fa-solid fa-arrow-trend-down'></i>
          {{{localize 'LH.char.labels.misfortune'}}}
        </span>
        <span class='lh-creator-field-control'>
          <input class='lh-creator-input' type='text' name='misfortune' value='{{misfortune}}' readonly />
          <button
            type='button'
            class='lh-creator-icon-button'
            data-action='roll'
            data-key='misfortune'
            title='{{localize "LH.core.roll"}}'
          >
            <i class='fa-solid fa-shuffle'></i>
          </button>
        </span>
      </label>
    </div>
  </section>

  <section class='lh-creator-panel'>
    <header class='lh-creator-panel-head'>
      <h2 class='lh-creator-title'>
        <i class='fa-solid fa-address-card'></i>
        {{{localize 'LH.ui.background'}}}
      </h2>
    </header>

    <div class='lh-creator-field-list'>
      <label class='lh-creator-field'>
        <span class='lh-creator-field-label'>
          <i class='fa-solid fa-eye'></i>
          {{{localize 'LH.char.labels.firstEncounter'}}}
        </span>
        <span class='lh-creator-field-control'>
          <input class='lh-creator-input' type='text' name='firstEncounter' value='{{firstEncounter}}' readonly />
          <button
            type='button'
            class='lh-creator-icon-button'
            data-action='roll'
            data-key='firstEncounter'
            title='{{localize "LH.core.roll"}}'
          >
            <i class='fa-solid fa-shuffle'></i>
          </button>
        </span>
      </label>

      <label class='lh-creator-field'>
        <span class='lh-creator-field-label'>
          <i class='fa-solid fa-briefcase'></i>
          {{{localize 'LH.char.labels.backstory'}}}
        </span>
        <span class='lh-creator-field-control'>
          <select class='lh-creator-input' name='backstoryId'>
            <option value=''>
              {{{localize 'LH.investigatorCreator.chooseBackstory'}}}
            </option>

            {{#each backstoryOptions}}
              <option value='{{this.id}}' data-items='{{this.itemsHint}}' {{this.selectedAttr}}>
                {{this.name}}
              </option>
            {{/each}}
          </select>

          <button
            type='button'
            class='lh-creator-icon-button'
            data-action='roll'
            data-key='backstory'
            title='{{localize "LH.core.roll"}}'
          >
            <i class='fa-solid fa-shuffle'></i>
          </button>
        </span>
        <span class='lh-creator-hint' data-backstory-items-hint>
          {{backstoryItemsHint}}
        </span>
      </label>
    </div>
  </section>

  <footer class='lh-creator-footer'>
    <button type='submit' class='lh-creator-button lh-creator-button-primary lh-creator-save'>
      <i class='fa-solid fa-user-plus'></i>
      {{{localize 'LH.investigatorCreator.save'}}}
    </button>
  </footer>
</div>