<div class='layout lh-item'>
  <section class='item-card'>
    <header class='item-header'>
      <input class='item-name-input' type='text' name='name' value='{{item.name}}' placeholder='ITEM NAME' />
      <span class='item-type-pill'>{{item.type}}</span>
    </header>

    <section class='{{itemFieldsClass}}'>
      <div class='item-panel'>
        <div class='item-section-title'>BASIC</div>
        <div class='item-form-row'>
          <label class='item-label'>Description</label>
          <textarea class='item-textarea' name='system.description' rows='3'>{{system.description}}</textarea>
        </div>
        {{#if system.damageDie}}
          <div class='item-form-row'>
            <label class='item-label'>Damage</label>
            <input class='item-input' type='text' name='system.damageDie' value='{{system.damageDie}}' />
          </div>
        {{/if}}
        {{#if (eq item.type 'armor')}}
          <div class='item-form-row'>
            <label class='item-label'>Armor</label>
            <input class='item-input' type='number' name='system.armorValue' value='{{system.armorValue}}' />
          </div>
        {{/if}}
        {{#if (or (eq item.type 'armor') (eq item.type 'weapon'))}}
          <div class='item-form-group'>
            <label class='item-checkbox'>
              <input type='checkbox' name='system.equipped' {{checked system.equipped}} />
              <span class='checkbox-box' aria-hidden='true'></span>
              <span class='item-label'>Equipped</span>
            </label>
          </div>
        {{/if}}
      </div>

      {{#if hasMeta}}
        <div class='item-panel'>
          <div class='item-section-title'>META</div>
          <div class='item-form-row'>
            <label class='item-label'>Price ($)</label>
            <input class='item-input' type='number' name='system.price' value='{{system.price}}' />
          </div>
          {{#if (eq item.type 'gear')}}
            <div class='item-form-row'>
              <label class='item-label'>Current use</label>
              <input class='item-input' type='number' name='system.usesCurrent' value='{{system.usesCurrent}}' />
            </div>
            <div class='item-form-row'>
              <label class='item-label'>Max use</label>
              <input class='item-input' type='number' name='system.usesMax' value='{{system.usesMax}}' />
            </div>
          {{/if}}
        </div>
      {{/if}}
    </section>

    {{#if isCarryable}}
      <section class='item-carry-panel'>
        <div class='item-section-title'>CARRY</div>
        <div class='item-form-row'>
          <label class='item-label'>Slot Size</label>
          <input class='item-input' type='number' name='system.slotSize' value='{{system.slotSize}}' />
        </div>

        <div class='item-form-group'>
          <label class='item-checkbox'>
            <input type='checkbox' name='system.ignoreSlots' {{checked system.ignoreSlots}} />
            <span class='checkbox-box' aria-hidden='true'></span>
            <span class='item-label'>Ignore Slots</span>
          </label>
        </div>
      </section>
    {{/if}}
  </section>
</div>